HOMEPAGE_VAR_CLOUDFLARE_KEY={{ homepage_cloudflare_token }}
HOMEPAGE_VAR_PIHOLE_KEY={{ homepage_pihole_api_key }}
HOMEPAGE_VAR_PFSENSE_USER={{ homepage_pfsense_username }}
HOMEPAGE_VAR_PFSENSE_PASS={{ homepage_pfsense_password }}
HOMEPAGE_VAR_PFSENSE_APIKEY={{ homepage_pfsense_api_key }}
HOMEPAGE_VAR_PROXMOX_USER={{ homepage_proxmox_username }}
HOMEPAGE_VAR_PROXMOX_PASS={{ homepage_proxmox_password }}
HOMEPAGE_VAR_SYNOLOGY_USER={{ homepage_synology_username }}
HOMEPAGE_VAR_SYNOLOGY_PASS={{ homepage_synology_password }}
HOMEPAGE_VAR_JELLYFIN_KEY={{ homepage_jellyfin_api_key }}
HOMEPAGE_VAR_JELLYSEERR_KEY={{ homepage_jellyseerr_api_key }}
HOMEPAGE_VAR_QBIT_USER={{ homepage_qbittorrent_username }}
HOMEPAGE_VAR_QBIT_PASS={{ homepage_qbittorrent_password }}
