
services:
  dozzle:
    image: {{ dozzle_image }}
    container_name: dozzle
    restart: unless-stopped
    dns:
      - 1.1.1.1
      - 8.8.8.8
      - {{ tailscale_ip }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/localtime:/etc/localtime:ro
    environment:
      DOZZLE_LEVEL: info
      DOZZLE_TAILSCALE: false
      DOZZLE_FILTER: "status=running"
      DOZZLE_NO_ANALYTICS: true
    networks:
      {{ traefik_network_name }}:
        ipv4_address: {{ dozzle_container_ip }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dozzle.rule=Host(`{{ dozzle_domain }}`)"
      - "traefik.http.routers.dozzle.entrypoints=https"
      - "traefik.http.routers.dozzle.tls.certresolver=cloudflare"
      - "traefik.http.services.dozzle.loadbalancer.server.port=8080"

networks:
  {{ traefik_network_name }}:
    external: true
