
services:
  netdata:
    image: {{ netdata_image }}
    container_name: netdata
    hostname: {{ netdata_hostname }}
    restart: unless-stopped
    pid: host
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    dns:
      - 1.1.1.1
      - 8.8.8.8
      - {{ tailscale_ip }}
    ports:
      - "{{ netdata_port }}:19999"
    volumes:
      - netdata_config:/etc/netdata
      - netdata_lib:/var/lib/netdata
      - netdata_cache:/var/cache/netdata
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /etc/os-release:/host/etc/os-release:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - {{ traefik_network_name }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.netdata.rule=Host(`{{ netdata_domain }}`)"
      - "traefik.http.routers.netdata.entrypoints=https"
      - "traefik.http.routers.netdata.tls.certresolver=cloudflare"
      - "traefik.http.services.netdata.loadbalancer.server.port=19999"

volumes:
  netdata_config:
    name: netdata_config
  netdata_lib:
    name: netdata_lib
  netdata_cache:
    name: netdata_cache

networks:
  {{ traefik_network_name }}:
    external: true
