uid = synology-backup
gid = synology-backup
use chroot = no
max connections = 10
pid file = /var/run/rsyncd.pid
log file = /var/log/rsyncd.log
timeout = 300

[synology_backup]
path = /backup/synology
comment = Synology HyperBackup Storage
read only = no
list = yes
auth users = synology-backup
secrets file = /etc/rsyncd.secrets
hosts allow = 100.0.0.0/8
