---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
components:
  - ../../components/common
resources:
  # Monitoring Stack
  - ./kube-prometheus-stack/ks.yaml
  - ./grafana/ks.yaml
  # Logging Stack
  - ./loki/ks.yaml
  - ./promtail/ks.yaml
  # Dashboards
  - ./kubernetes-dashboard/ks.yaml
