TZ={{ pihole_timezone }}
FTLCONF_webserver_api_password={{ pihole_webpassword }}
FTLCONF_dns_upstreams={{ pihole_dns_upstreams }}
FTLCONF_dns_listeningMode={{ pihole_dns_listening_mode }}
ServerIP={{ tailscale_ip }}
IPv6={{ pihole_ipv6_enabled }}
