---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-system
components:
  - ../../components/common
resources:
  # Flux Operator (manages Flux instances)
  - ./flux-operator/ks.yaml
  # Flux Instance (this cluster's Flux instance)
  - ./flux-instance/ks.yaml
