---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyseerr
  namespace: default
spec:
  accessModes: ["ReadWriteOnce"]
  storageClassName: longhorn
  volumeName: jellyseerr-restored-pv
  resources:
    requests:
      storage: 2Gi  # Ajustează dimensiunea după nevoie
  volumeMode: Filesystem
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyseerr-cache
  namespace: default
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
  volumeMode: Filesystem