---
- Infrastructure:
    - Traefik:
        icon: traefik.png
        href: https://traefik.cloud.merox.dev
        description: Reverse Proxy & SSL

    - Pi-hole:
        icon: pi-hole.png
        href: https://pihole.cloud.merox.dev/admin
        description: Network-wide Ad Blocking
        widget:
          type: pihole
          url: http://{{ tailscale_ip }}:8078
          key: {{ pihole_webpassword }}

    - Portainer:
        icon: portainer.png
        href: https://portainer.cloud.merox.dev
        description: Container Management

- Monitoring:
    - Netdata:
        icon: netdata.png
        href: https://netdata.cloud.merox.dev
        description: Real-time System Monitoring
        widget:
          type: customapi
          url: http://{{ tailscale_ip }}:19999/api/v1/info
          mappings:
            - field: version
              label: Version

    - Beszel:
        icon: https://raw.githubusercontent.com/henrygd/beszel/main/beszel/site/static/favicon.png
        href: https://beszel.cloud.merox.dev
        description: Lightweight Server Monitoring

    - Dozzle:
        icon: dozzle.png
        href: https://dozzle.cloud.merox.dev
        description: Real-time Docker Logs

- Services:
    - Nextcloud:
        icon: nextcloud.png
        href: https://nextcloud.cloud.merox.dev
        description: Private Cloud Storage

    - Tailscale:
        icon: tailscale.png
        href: https://login.tailscale.com/admin/machines
        description: VPN Mesh Network
