
services:
  beszel:
    image: {{ beszel_image }}
    container_name: beszel
    restart: unless-stopped
    dns:
      - 1.1.1.1
      - 8.8.8.8
      - {{ tailscale_ip }}
    volumes:
      - beszel_data:/beszel_data
      - /etc/localtime:/etc/localtime:ro
    environment:
      TZ: "Europe/Bucharest"
    networks:
      {{ traefik_network_name }}:
        ipv4_address: {{ beszel_container_ip }}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.beszel.rule=Host(`{{ beszel_domain }}`)"
      - "traefik.http.routers.beszel.entrypoints=https"
      - "traefik.http.routers.beszel.tls.certresolver=cloudflare"
      - "traefik.http.services.beszel.loadbalancer.server.port=8090"

volumes:
  beszel_data:
    name: beszel_data

networks:
  {{ traefik_network_name }}:
    external: true
