---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
components:
  - ../../components/common
resources:
  # DNS & Gateway
  - ./k8s-gateway/ks.yaml
  - ./cloudflare-dns/ks.yaml
  # Tunneling
  - ./cloudflare-tunnel/ks.yaml
